# Al-Bara Al-Sakkaf
Al-Bara Al-Sakkaf <alsakalb@ecs.vuw.ac.nz> albara <alsakalb@ecs.vuw.ac.nz>
Al-Bara Al-Sakkaf <alsakalb@ecs.vuw.ac.nz> <alsakalb@myvuw.ac.nz>

# Hayley Far
Hayley Far <farhayl@ecs.vuw.ac.nz> hayley-far <hayleyfar5@gmail.com>
Hayley Far <farhayl@ecs.vuw.ac.nz> <farh@ecs.vuw.ac.nz>
Hayley Far <farhayl@ecs.vuw.ac.nz> <hayleyfar5@gmail.com>

# Joshua Pinpin
Joshua Pinpin <pinpinjosh@ecs.vuw.ac.nz> joshuapinpin <joshuapinpin421@gmail.com>
Joshua Pinpin <pinpinjosh@ecs.vuw.ac.nz> <joshuapinpin421@gmail.com>

# Emily Ung
Emily Ung <ungemil@ecs.vuw.ac.nz> <ungemil@logan-brown.ecs.vuw.ac.nz>